<div class='d-flex justify-content-center mt-5 mb-5 text-white'>
    
    <h1>Les amis de Fortnite</h1>

</div>

<div class="w-50 m-auto row row-cols-1 row-cols-md-4">
  <div class="col mb-4 ">
    <div class="card">
      <img src="https://images.pexels.com/photos/349758/hummingbird-bird-birds-349758.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="Perso1">
      <div class="card-body">
        <h5 class="card-title">Nils</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card ">
      <img src="https://images.pexels.com/photos/86405/penguin-funny-blue-water-86405.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="Perso2">
      <div class="card-body">
        <h5 class="card-title">Corentin</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://images.pexels.com/photos/247502/pexels-photo-247502.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="Perso3">
      <div class="card-body">
        <h5 class="card-title">Cedric</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://images.pexels.com/photos/792381/pexels-photo-792381.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="Perso4">
      <div class="card-body">
        <h5 class="card-title">Loic</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>